<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebSharper" version="2.5.120.55" targetFramework="net40" />
  <package id="WebSharper.Knockout" version="2.5.11.0" targetFramework="net40" />
  <package id="WebSharper.PhoneJS" version="2.5.17.0" targetFramework="net40" />
  <package id="WebSharper.TypeScript.Lib" version="2.5.31" targetFramework="net40" />
</packages>