<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebSharper" version="3.0.54.140" targetFramework="net40" />
  <package id="WebSharper.Knockout" version="3.0.38.82" targetFramework="net40" />
  <package id="WebSharper.PhoneJS" version="3.0.44.102" targetFramework="net40" />
  <package id="WebSharper.TypeScript.Lib" version="3.0.108" targetFramework="net40" />
</packages>